.DS_Store

.vs
__pycache__

*.csproj.user

otel/Geneva-ETW-Dll-Exe/GenevaEtwDll/x64/Debug
otel/Geneva-ETW-Dll-Exe/GenevaEtwDll/vcpkg_installed/x64-windows/x64-windows

otel/Geneva-ETW-Dll-Exe/GenevaEtwExe/x64/Debug
otel/Geneva-ETW-Dll-Exe/GenevaEtwExe/vcpkg_installed/x64-windows/x64-windows


